<style type="text/css">

a {
	color:#d00;
	text-decoration: none;
}

body {
	font-family:'Lato', sans-serif;
	color:#444;
	margin-left:3em;
}


img{
	max-width: 100%;
}


h1,h2,h3,h4{
	margin:0;
	padding:0;
}

h1{
	font-size:3em;
	font-weight: normal;
	display:inline-block;
	margin-right:0.5em;
}

h2{
	font-size:2em;
	font-weight:normal;
	margin-bottom: 0.5em;
}

h3{
	font-size:2em;
	color:#ccc;
	font-weight: normal;

}
article h4, #more{
	text-align: right;

}

h2 a{
	color:inherit;
}

header h2{
	display: block;
	font-size:1.5em;
}

header nav {
	width:100%;
}

nav ul{
	margin:0;
	padding:0;
	}

header nav ul li{
	display:inline-block;
	float:left;
}

header nav a{
	margin-right: 1.25em;
	color: #ddd;
	font-size: 1.25em;
	text-decoration: underline;
}

article{
	margin:3em 0; 
	width:55%;
	float:left;
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
}

article p:first-letter{
	color:#ddd;
	font-size:550%;
	float:left;
	line-height:0.8;
	margin-right:0.1em;
}

footer{
	clear:both;
}

footer nav {
	width:100%;
}

nav ul{
	margin:0;
	padding:0;
}

footer nav ul li{
	display:inline-block;
	float: left;
	border-right:0.5px solid #ccc;
}

footer li:last-child {
	border-right:none;
}

footer nav a{
	margin-right: 0.3em;
	margin-left: 0.3em;
	color: #d00;
	font-size: 1.25em

}

footer p{
	clear:both;
	color:#ccc
}

footer p {
	padding-top:0.5em;
}
</style>