
h1 a{
	text-decoration: none;
	color: crimson;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 28pt;
}

.container {
	width: 75%;
	margin: auto;
}

#t1 {
	font-family: 'Source Sans Pro', sans-serif;
}

.diyici {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	margin-bottom: 60px;
}

.diyihang {
	display: inline;	
	
}

.diyibian {
	text-decoration: none;
	color: lightgrey;
	font-family: 'PT Sans', sans-serif;
	font-size: 20pt;
	border-bottom: 1px solid lightgrey;
	padding: 5px;
	
}

.date {
	font-size: 24pt;
	color: lightgrey;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 0px;
}



#t2 {
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	color: black;
	text-decoration: none;
}

.xiachen {
	font-family: 'PT Sans', sans-serif;
	text-indent: none;
	font-size: 16pt;
	width: 900px;
}

.xiachen:first-letter {
	font-size: 80pt;
	font-family: 'PT Sans', sans-serif;
	float: left;
	line-height: 70px;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 8px;
	padding-left: 2px;
	color: grey
}

.continues {
	text-decoration: none;
	font-size: 20pt;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	color: crimson;
}

h4 {
	text-align: right;
	width: 900px;

}

.dierbian {
	text-decoration: none;
	color: red;
	font-family: 'PT Sans', sans-serif;
	font-size: 19pt;
	border-right: 2px solid lightgrey;
	padding-right: 8px;
	padding-left: 8px;
	padding: none;
	
}

.liwai {
	text-decoration: none;
	color: red;
	font-family: 'PT Sans', sans-serif;
	font-size: 19pt;
	border-right: none;
	padding-right: 8px;
	padding-left: 8px;
	padding: none;
	
}


.dierci {
	list-style-type: none;
	text-decoration: none;
	display: inline;
}

.trademark {
	font-family: 'PT Sans', sans-serif;
	font-size: 17pt;	
	color: grey;
}

nav {
	padding: none;
}

article {
	border-bottom: 1.5px solid lightgrey;
	margin-bottom: 30px;
;

}