* {
	font-family: 'Open Sans', sans-serif;
	padding-left: 0px
}
	
body {
	margin-left: 15%;
	margin-right: 15%;
}

h1 a {
	color: red;
	font-size: 150%;
	text-decoration: none;
}

a {
	text-decoration: none;
}


h2 {
	font-size: 150%;
}

ul a {
	margin: 12px;
	margin-left: 0px;
	text-decoration: underline;
	color: gray;
	font-size: 140%;
	padding-bottom: 5px
}

li {
	display: inline;
	text-align: auto;
}



h3 {
	color: gray;
	font-size: 200%;
}

h2 a {
	text-decoration: none;
	color: black;
	font-size: 150%
}

img {
	height: 70%;
	width: 70%;
	position: center;
}

p {
	color: black;
	font-size: 15;
	margin-right: 30%;
	line-height: 25px;

}

article p:first-letter {
	font-size: 500%; 
	color: grey; 
	float: left; 
	padding: 22px 0px 10px 0px;
}


h4 {
	text-align: right;
	font-size: 15;
	margin-right: 30%;
}

h4 a {
	color: red;
}

hr{	
	border-bottom-style: solid;
	border-bottom: 3px;
	color:grey;
	padding-right: 650px;
	margin-right: 30%;
	margin-bottom: 4em;
}

footer ul {
	margin-top: 50px;
	padding-right: 100px;
}

footer a {
	color: red;
	font-size: 15;
	padding-bottom: 5px;
	padding-right: 5px;
}

footer li a {
	border-right: 1px solid;
	border-color: grey;
	font-size: 100%;
}

.last-child {
	border-right: none;
	border-right: 30%;
}


