  * {
    font-family: 'Lato', sans-serif; font-weight: 300;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  h1 a {
    text-decoration: none;
    color: #CC0000;
    margin-left: 0px;
    font-size: 40px;
  }

  h1 {
    margin-bottom: 8px
  }

  header h2 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  nav {
    margin-top: 15px;
  }

  nav a {
    text-decoration: none;
    padding-bottom: 3px;
    margin-left: 0px;
  }

  nav ul{
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 10px;
  }

  header {
    padding-bottom: 10px;
  }

  header nav a{
    border-bottom: 1px solid #CFCFCF;
  }

  li:first-child {
    margin-left: 0px;
  }

  li {
    display: inline;
    margin-right: 0px;
  }

  li a {
    color: #CFCFCF;
    margin-right: 5px;
  }

  h3 {
    font-size: 27px;
    color: #CFCFCF;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
  }


  h2 {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  h2 a {
    font-size: 27px;
    text-decoration: none;
    color: black;
    margin: 0px;
  }

  img {
    margin-top: 0px;
    margin-bottom: 0px;
  }


  p {
    color: #454545;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-right: 15%;
  }

  article p:first-letter {
    float: left;
    font-size: 70px;
    color: #CFCFCF;
    border-top: 0px;
    line-height: 1;
    margin-right: 8px;
    margin-bottom: 1px;
  }

  h4 a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #CC0000;
  }

  h4 {
    margin: 0px;
    text-align: right;
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 20px;
    margin-right: 13%;
  }

  article {
    margin-bottom: 42px;
  }


  footer {
    margin-top: 20px;
  }

  footer nav {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  footer nav ul {
    margin-bottom: 0px;
  }

  footer nav a {
    font-size: 14px;
    color: #CC0000;
    margin: 1px;
  }

  footer li {
    border-left: 1px solid #BABABA;
    padding-left: 5px;
    margin-left: 0px;
    margin-right: 0px;
  }

  footer li:first-child{
    border-left: none;
  }

  footer p {
    margin-top: 5px;
    font-size: 14px;
  }

  footer p{
    color: #BABABA;
  }